<!-- About Section -->
    <section id="about" class="padded">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">My Timeline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/zhengwei.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2016</h4>
                                    <h4 class="subheading">When it all Began</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I started programming in NUS's iBLOC scheme for NS men - taking CS1010X (python).
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/cvwo-2016.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May - Aug 2016</h4>
                                    <h4 class="subheading">My first Software Development Experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I started out my journey in Software Development right before I matriculated into NUS, School of Computing. Being involved in SoC's Computing for Voluntary Welfare Organisations (CVWO Summer 2016), I was exposed to my first development experience with Ruby on Rails.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/estl.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May - Aug 2017</h4>
                                    <h4 class="subheading">Internship in MOE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I was involved in an internship with a team of Software Developers in MOE - Experimental Systems & Technology Lab. It was here where I worked on Coursemology.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/blog.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2017 - Current</h4>
                                    <h4 class="subheading">Blog</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I first started my blog as a requirement for one my school mods - CS3216, to post about my experiences and lessons learnt. After the module ended, I eventually continued using the blog anyway to post mini UI/UX critiques of existing applications when inspiration struck.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/wulihao.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct - Dec 2017</h4>
                                    <h4 class="subheading">CS3216 Final Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        As a team, we helped to design and build a suite of applications for a local Noodles Manufacturing & Logistics Company - Wu Li Hao.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/cvwo-2018.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May - Aug 2018</h4>
                                    <h4 class="subheading">Back to CVWO Again</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I participated in CVWO again 2 years later, joining the development team as a team leader. With a group of 6 student developers, we helped to design and build a new Ruby on Rails application for NUS School of Medicine.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/sworks.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2018 - Current</h4>
                                    <h4 class="subheading">CS3240 Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        For our module involving UI/UX design (CS3240), my team decided to design an application to help facilitate and promote freelancing in Singapore.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>I'm
                                <br>Here
                                <br>Now!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>