<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-image">
                        <img src="{{ site.baseurl }}/img/portfolio/wlh/deliveries.png" class="img-portfolio img-centered" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>WU LI HAO</h4>
                        <p class="text-muted">
                            Our team of developers designed and built an application for a local Noodles Manufacturing & Logistics Company (Wu Li Hao).
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-image">
                        <img src="{{ site.baseurl }}/img/portfolio/sworks/sworks-drawing.jpg" class="img-portfolio img-centered" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>SWORKS</h4>
                        <p class="text-muted">
                            Step-by-Step documentation of an ongoing design project for an application that facilitates freelancing in Singapore.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-image">
                        <img src="{{ site.baseurl }}/img/portfolio/blog.jpg" class="img-portfolio img-centered" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>BLOG</h4>
                        <p class="text-muted">
                            A blog where I post anything related to UI/UX Design Critique and Software Development.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
